.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.active-filter-btn{
    background-color: blue !important;
    color: white !important;
    border-color: black;
}

.collection-list button{
    background-color: blue !important;
    color: white !important;
    border-color: black;
    
}