.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.active-filter-btn{
    background-color: white!important;
    color: blue !important;
    border-color: blue;
    transition: background-color 0.3s;
}

.active-filter-btn:hover{
    background-color: blue !important;
    color: white !important;
}

.collection-list button{
    background-color: white !important;
    color: blue !important;
    border-color: blue;
    transition: background-color 0.3s;
}

.collection-list button:hover{
    background-color: blue !important;
    color: white !important;
}

/* Carrito */
.seccion-carrito th{
    text-align: left;
    padding: 5px;
    color: white;
    background-color: blue;
    font-weight: normal;
}

.seccion-carrito{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.carrito-info{
    display: flex;
    flex-wrap: wrap;
}

td img{
    width: 100px;
    margin-right: 10px;
}

.precio-total{
    display: flex;
    justify-content: flex-end;
}

.precio-total table{
    border-top: 3px solid blue;
    width: 100%;
    max-width: 350px;
}

.precio-total button{
    background-color: blue;
    color: white;
}
